.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
 }

 .navbar a {
   float: left;
   display: block;
   color: #D7400F;
   background-color: #FFCF8D;
   text-align: center;
   padding-left: 115px;
   padding-right: 115px;
   padding-top: 25 px;
   padding-bottom: 15px;
   text-decoration: none;
   font-size: 17px;
 }

.navbar a.active {
  background-color: #FDA86A;
  color: #3E1500;
}

div.main{
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:200px;
  color: #3E1500;
  border: 5px solid #D7400F;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

body  {
  background-image: url(".../pics/islandbg.jpg");
  background-color: #FFCF8D;
  background-position: center;
}

p {
  color: #3E1500;
  text-align: center;
  background-color: #D7400F;
}