.navbar {
  background-color: #07B777;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
 }

 .navbar a {
   float: left;
   display: block;
   color:#E76220;
   text-align: center;
   padding-left: 110px;
   padding-right: 110px;
   padding-top: 25 px;
   padding-bottom: 15px;
   text-decoration: none;
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
 }

.navbar a.active {
  background-color: #99FFD2;
  color: #55764F;
  font-family: Arial, Helvetica, sans-serif;
}

div.main{
  margin-top: 0%;
  margin-left: 79%;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #55764F;
  border: 5px solid #07B777;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 720px;
  font-family: Arial, Helvetica, sans-serif;
}



body  {
  background-image: url("../pics/islandbg.jpg");
  background-repeat: no-repeat;
  background-color: #99FFD2;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #3E1500;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}